/**
 * REXseo
 * Based on the URL-Rewrite Addon
 * @author dh[at]gn2-netwerk[dot]de Dave Holloway
 * @author markus.staab[at]redaxo[dot]de Markus Staab
 * @author code[at]rexdev[dot]de jeandeluxe
 * @package redaxo4.2
 * @version 1.2
 * @version svn:$Id$
 */


/* ADDON HEADLINE */
span.addonversion {
  font-size:10px;
  color:silver;
  }

/* ADDON CHAPTER-LINKS */
a.jsopenwin,
a.blank,
span.jsopenwin {
  padding-right:16px;
  background:url('index.php?rexseo_func=jsopenwin.gif') no-repeat 100% 0 ;
  }

/* ADDON CONTENT */
.rexseo  {
  padding:2px 8px 8px 8px;
  line-height:1.3;
  }

.rexseo p {
  font-size:12px;
  margin:0 0 20px 0;
  }

.rexseo .rex-warning p {
  font-size:10px;
  margin:0;
  }

.rexseo h1 {
  color:#14568A;
  font-size:18px;
  border-bottom:1px solid #DFE9E9;
  margin:26px 0 10px 0;
  padding:0 0 2px 0;
  }

.rexseo h1:first-child,
.rexseo #setup h1:first-child{
  margin:0 0 10px 0;
  }

.rexseo h2 {
  font-size:14px;
  margin:2px 0 10px 0;
  padding:0;
  }

.rexseo h3 {
  font-size:13px;
  margin:2px 0 10px 0;
  padding:0;
  }

.rexseo h4 {
  font-size:12px;
  margin:2px 0 10px 0;
  padding:0;
  }

.rexseo h5 {
  font-size:11px;
  margin:2px 0 10px 0;
  padding:0;
  }

.rexseo cite,
.rexseo code,
.rexseo pre {
  color:red;
  font-family:monospace;
  font-style:normal;
  font-size:12px;
  }

.rexseo pre {
  overflow:auto;
  border:1px solid #CBCBCB;
  background:#DFE9E9 /*url("../files/addons/be_style/plugins/agk_skin/website.gif") repeat-x 0 -100px*/;
  margin:2px 4px 8px 0;
  padding:8px;
  line-height:12px;
  }

.rexseo pre code {
  color:#0000BB;
}

.rexseo hr {
  height:1px;
  border:0;
  border-top:1px solid silver;
  margin:8px 0;
  padding:0;
  }

.rexseo ul {
  margin:0;
  padding:0;
  }

.rexseo ul>li {
  line-height:1.4;
  background:#DFE9E9;
  list-style-type:none;
  margin:0 0 4px 0;
  padding:4px 4px 4px 10px;
  border:1px solid #CBCBCB;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  -border-radius:4px;
  }

.rexseo ul>li>strong:first-child {
  font-size:14px;
  display:inline-block;
  width:100%;
  border-bottom:1px solid #CBCBCB;
  margin-bottom:4px;
  }

.rexseo ol ul>li>strong:first-child,
.rexseo ul ul>li>strong:first-child {
  font-size:12px;
  display:inline;
  border-bottom:0;
  }

.rexseo ul ul>li {
  list-style-type:disc;
  border:0;
  }

.rexseo a.rex-form-submit,
.rexseo a.rex-form-submit:link,
.rexseo a.rex-form-submit:visited,
.rexseo a.rex-form-submit:hover {
  color:black;
  text-decoration:none !important;
  background:url("../files/addons/be_style/plugins/agk_skin/button.gif") repeat-x;
  padding:2px 6px;
  -moz-outline-radius:4px 4px 4px 4px;
  border:0 none;
  outline:1px solid #CBCBCB;
  }

#rexseo_robots {
  /*height:100px;*/
}

#rexseo_redirects {
  /*height:100px;*/
}
.rexseo_ticket {
	margin:2px 0 2px 0;
}
.rexseo_ticket .rexseo_date {
	margin-right:15px;
}

a.help-icon {
  background:silver !important;
  color:white !important;
  font-size:10px;
  font-weight:normal;
  text-decoration:none !important;
  padding:0 4px 0 4px !important;
  -moz-border-radius:5px !important;
  -webkit-border-radius:5px !important;
}

a.help-icon:hover {
  background:#3C9ED0 !important;
}



.rexseo .highlight {
  background-color: yellow !important;
  color:black !important;
  padding:2px 6px 2px 6px !important;
  margin:2px !important;
  border:1px solid silver;
  border-right:1px solid gray;
  border-bottom:1px solid gray;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;

}

/*REDMINE RSS*/

.rexseo ul.redmine-feed {
  list-style-type:none;
}

.rexseo ul.redmine-feed li {
  background:none;
  border:0;
  padding:0;
}
.rexseo ul.redmine-feed .redmine-date {
	margin-right:15px;
}
