
.dev-block {
   position:fixed;
   top:0;
   right:0;
   width:35%;
   margin:8px;
   padding:6px;
   background:gray;
   opacity:0.95;
   z-index:99;
   max-height:95%;
   overflow:auto;
   -moz-border-radius:6px;
   -webkit-border-radius:6px;
   color:silver !important;
}

.dev-block em,
.dev-block pre {
  color:white !important;
  font-style:normal !important;
}

.dev-block b {
  display:inline-block !important;
  width:110px !important;
  font-weight:normal !important;
}

.dev-block a,
.dev-block a:link,
.dev-block a:visited{
   color:orange;
   font-weight:bold;
}

.dev-block h2 {
  font-size:12px;
  font-weight:bold;
  border-bottom:1px solid white;
  margin-bottom:4px;
  padding:4px 0 2px 0;
}

.dev-block ul {

}

.dev-block ul#clang li {
   float:left;
   margin: 0 4px 0 4px;
}

.dev-block div {
   clear:left;
}

.dev-block h1.artikel {
  float:right;
  margin-right:10px;
  color:silver;
  font-weight:bold;
}

.dev-block h1.title {
  float:right;
  margin-right:10px;
  color:gray;
  font-weight:bold;
  text-shadow:white 0px 0px 8px;
}



